<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/mainStyling.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Digital Dash Register</title>
</head>
<body class="login">
	<div id="container" class="wrapper container">
		<h2><a href="../login">Digital Dash</a></h2>
		<div class="rounded shadowed" style="">
			<ul class="mainMenu rounded" style="padding:8px;">
				<span style="background:#002663; font-size:18px; color:#f9f9f9;">Welcome, Register to start</span>
			</ul>
		</div>
		<div class="shadowed rounded dynContent" style="">
      <form class="form-horizontal" method="post">
        <fieldset>
          <div class="control-group">
            <div class="controls">
              <label class="control-label" for="username">Username: </label>
              <input type="text" class="input-xlarge" id="username" name="username">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="control-label" for="password">Password:</label>
              <input type="password" class="input-xlarge" id="password" name="password">
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </fieldset>
      </form>
		</div>
	</div>
</body>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/login/login.js"></script>
</html>
