<!DOCTYPE html>
<div class="shadowed rounded dynContent" style="">
  <h5>Delete all entries by Run Name and Driver Step ID</h5>
	<form>
		<input type="text" class="" placeholder="p_run_nme Input" ng-model="form.runName"/>
		<input type="text" class="" placeholder="p_drvr_step_id  Input" ng-model="form.drvr_step_id"/>
    <div class="submit-btn">
      <button class="btn btn-success" type="button" ng-click="submitValue()"> Exec </button>
      <button class="btn btn-danger" type="button"> Urgent Exec </button>
    </div>
	</form>
  <div class="alert alert-info">{{ banner }}</div>
</div>
