<!DOCTYPE html>
<div class="shadowed rounded dynContent" style="">
  <h5>Update SLA Date and Time by Audit ID</h5>
	<form>
		<input type="text" class="" placeholder="SLA_DT Input" ng-model="form.sla_dt" />
		<input type="text" class="" placeholder="SLA_TIME Input" ng-model="form.sla_time" />
		<input type="text" class="" placeholder="AUDT_ID Input" ng-model="form.auditId" />
    <div class="submit-btn">
      <button class="btn btn-success" type="button" ng-click="Exec()"> Exec </button>
      <button class="btn btn-danger" type="button"ng-click="urgentExec()"> Urgent Exec </button>
    </div>
	</form>
  <pre class="alert alert-info">{{ banner }}</pre>
</div>
