<!DOCTYPE html>
<div class="shadowed rounded dynContent" style="">
  <h5>Update Active Step Indicator by Driver Step ID</h5>
	<form>
		<input type="text" class="" placeholder="p_drvr_step_id Input" ng-model="form.drvr_step_id"/>
		<input type="text" class="" placeholder="p_actv_step_ind Input" ng-model="form.actv_step_ind"/>
    <div class="submit-btn">
      <button class="btn btn-success" type="button" ng-click="submitValue()"> Exec </button>
      <button class="btn btn-danger" type="button"> Urgent Exec </button>
    </div>
	</form>
  <pre class="alert alert-info">{{ banner }}</pre>
</div>
