<!DOCTYPE html>
<div class="shadowed rounded dynContent" style="">
  <h5>Update SLA Date and Time by Run Name</h5>
	<form>
		<input type="text" class="" placeholder="SLA_TIME  Input" ng-model="sla_time"/>
		<input type="text" class="" placeholder="RUN_NME  Input" ng-model="runName"/>
    <div class="submit-btn">
      <button class="btn btn-success" type="button" ng-click="submitValue()"> Exec </button>
      <button class="btn btn-danger" type="button"> Urgent Exec </button>
    </div>
	</form>
  <div class="alert alert-info">{{ banner }}</div>
</div>
