<!DOCTYPE html>
<div class="shadowed rounded dynContent" style="">
  <h5>Update Active Step Indicator by Run Name and Group Number</h5>
	<form>
		<input type="text" class="" placeholder="p_run_nme Input" ng-model="form.runName"/>
		<input type="text" class="" placeholder="p_grp_nbr  Input" ng-model="form.grp_number"/>
		<input type="text" class="" placeholder="p_actv_step_ind Input" ng-model="form.actv_step_ind"/>
    <div class="submit-btn">
      <button class="btn btn-success" type="button"> Exec </button>
      <button class="btn btn-danger" type="button" ng-click="urgentExec()"> Urgent Exec </button>
    </div>
	</form>
  <pre class="alert alert-info">{{ banner }}</pre>
</div>
