<h5>Driver Step</h5>
<form>
  Technology:
  <select>
    <option value="DB2">DB2</option>
    <option value="Hadoop">Hadoop</option>
    <option value="informatica">informatica</option>
    <option value="Teradata">Teradata</option>
    <option value="Unix">Unix</option>
  </select><br>
  Category:
  <select>
    <option value="Agent">Agent</option>
    <option value="Configuration">Configuration</option>
    <option value="Execute">Execute</option>
    <option value="HDFS">HDFS</option>
    <option value="Hive">Hive</option>
    <option value="Utility">Utility</option>
  </select><br>
  Use Case:
  <select>
    <option value="CheckFTPDate">Check FTP Date</option>
    <option value="CopyFile">Copy File</option>
    <option value="DynamicDriver">Dynamic Driver</option>
    <option value="Email">Email</option>
    <option value="ExecuteScript">Execute Script</option>
    <option value="...">...(Ill do the rest later)</option>
  </select><br>
  PATH_TXT:
  <select>
    <option value="$UTILITY_SCRIPTS">Utility_Scripts</option>
  </select><br>
  CMD_TXT:
  <select>
    <option value="...">...(Very Long List)</option>
  </select>
  <div class="submit-btn">
    <input class="non-urgent" type="submit" value="Exec"/>
    <input class="urgent" type="submit" value="Urgent Exec"/>
  </div>
</form>
