<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/mainStyling.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Digital Dash Login</title>
</head>
<body>
	<div class="wrapper container">
		<h2><a href="index.html">Digital Dash</a></h2>
		<div class="rounded shadowed" style="">
			<ul class="mainMenu rounded" style="padding:8px;">
				<span style="background:#002663; font-size:18px; color:#f9f9f9;">Welcome, Log in to start</span>
			</ul>
		</div>
		<div class="shadowed rounded dynContent" style="">
			<form action="index.html">
				<input type="text" class="" placeholder="username"/>
				<input type="password" class="" placeholder="password"/>
        <div class="env">
        <input type="radio" name="Environment" value="Dev" checked="checked" />
        <span>Devlopment</span>
        </div>

        <div class="env">
        <input type="radio" name="Environment" value="Dev"/>
        <span>Product</span>
        </div>

        <div class="env">
        <input type="radio" name="Environment" value="Dev"/>
        <span>Quality Assurance</span>
        </div>

        <div class="env">
        <input type="radio" name="Environment" value="Dev"/>
        <span>Test</span>
        </div>

				<input type="submit" class="" value="login"/>
			</form>
		</div>
	</div>
</body>
</html>
