<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/mainStyling.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <title>Digital Dash</title>
</head>
<body ng-app="digitalDash">
	<div class="wrapper container">
		<h2><a href="index.html">Digital Dash</a></h2>
		<div class="rounded shadowed" style="">
			<ul class="mainMenu rounded">
				<li class="rounded" style="padding:0px;">
				  <div class="dropdown">
  					<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Update
  					<span class="caret"></span></button>
  					<ul class="dropdown-menu">
  					  <li>Driver Schedule</li>
  					  <li><a href="M_UD_DR_SCHED_START_RN_AID.html">Update Schedule Start time by Run Name and Audit ID </a></li>
  					  <li><a href="M_UD_DR_SCHED_STTS_RN_AID.html">Update Status Code by Run Name and Audit ID </a></li>
  					  <li><a href="M_UD_DR_SCHED_VAL_END_RN_AID.html">Update Valuation End Date by Run Name and Audit ID </a></li>
  					  <li><a href="M_UD_DR_SCHED_VAL_START_RN_AID.html">Update Valuation Start time by Run Name and Audit ID </a></li>
  					  <li><a href="M_UD_DR_SCHED_SLA_AID.html">Update SLA Date and Time by Audit ID </a></li>
  					  <li><a href="M_UD_DR_SCHED_SLA_RN.html">Update SLA Date and Time by Run Name </a></li>
  					  <li><a href="M_UD_DR_SCHED_H_SLA_RN.html">Update Historical SLA Date and Time by Run Name </a></li>
  					  <li>Driver Step Detail</li>
  					  <li><a href="M_UD_DR_STEP_DTL_RN_GN.html">Update Run Status Code by Run Name and Group Number</a></li>
  					  <li><a href="M_UD_DR_STEP_DTL_RN_STPDTLID.html">Update Run Status Code by Run Name and Driver Step Detail ID</a></li>
  					  <li>Driver Step</li>
  					  <li><a href="M_UD_DR_STEP_ASI_SID.html">Update Active Step Indicator by Driver Step ID</a></li>
  					  <li><a href="M_UD_DR_STEP_ASI_RN_SID.html">Update Active Step Indicator by Run Name and Driver Step ID</a></li>
  					  <li><a href="M_UD_DR_STEP_ASI_RN.html">Update Active Step Indicator by Run Name</a></li>
  					  <li><a href="M_UD_DR_STEP_ASI_RN_GN.html">Update Active Step Indicator by Run Name and Group Number</a></li>
  					</ul>
				  </div>
				</li>
				<li class="rounded" style="padding:0px;">
				  <div class="dropdown">
					<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Delete
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
					  <li>Driver Schedule</li>
					  <li><a href="M_DL_DR_SCHED_RN.html">Delete all entries by Run Name</a></li>
					  <li>Driver Step</li>
					  <li><a href="M_DL_DR_STEP_RN.html">Delete all entries by Run Name</a></li>
					  <li><a href="M_DL_DR_STEP_RN_GN.html">Delete all entries by Run Name and Group Number</a></li>
					  <li><a href="M_DL_DR_STEP_RN_SID.html">Delete all entries by Run Name and Driver Step ID</a></li>
					  <li><a href="M_DL_DR_STEP_DTL_RN.html">Driver Step Detail - Delete </a></li>
					</ul>
				  </div>
				</li>
				<li class="rounded" style="padding:0px;">
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Add
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
						  <li><a href="addDriverScedule.html">Driver Schedule</a></li>
						  <li><a href="addDriverStep.html">Driver Step</a></li>
						</ul>
					</div>
				</li>
        <li class="rounded" style="padding:0px;">
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">View
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
						  <li><a href="viewfailure.html">Failures</a></li>
						  <li><a href="#">Dependencies</a></li>
						  <li><a href="#">Job service-level agreements </a></li>
						  <li><a href="#">Pending SLA jobs </a></li>
						  <li class="hist"><span>Historical runtime average</span>
							<a href="#">  Batch </a>
							<a href="#">  Job </a>
							<a href="#">  Step </a>
						  </li>
						  <li class="hist"><span>Hstorical trending</span>
							<a href="#">  Batch </a>
							<a href="#">  Job </a>
							<a href="#">  Step </a>
						  </li>
						  <li><a href="#">Current Running</a></li>
						</ul>
					</div>
				</li>
				<li class="rounded"><a href='undo.html'>Log</a></li>
				<li class="rounded"><a href='peerReview.html'>Peer Review</a></li>
        <li class="rounded pull-right"><a href="#">Logout</a></li>
			</ul>
		</div>

		<div class="shadowed rounded dynContent" style="" ng-controller="scheduleTime">
      <h5>Update Schedule Start time by Run Name and Audit ID</h5>
			<form ng-app="digitalDash">
				<input type="text" class="" placeholder="p_drvr_step_id Input" ng-model="driverStep" />
				<input type="text" class="" placeholder="p_audt_id  Input" ng-model="auditId" />
				<input type="text" class="" placeholder="p_sched_start  Input" ng-model="scheduleStart" />
        <div class="submit-btn">
  				<button class="btn btn-success" type="button" ng-click="getValue()"> Exec </button>
          <button class="btn btn-danger" type="button"> Urgent Exec </button>
        </div>
			</form>
      <div class="alert alert-info">{{ banner }}</div>
		</div>
	</div>

  <script src="controllers/UpdateController.js"></script>
</body>
</html>
