<!DOCTYPE html>
<div class="shadowed rounded dynContent" style="">
  <h4>Driver Step Detail by Run Name</h4>
  <br />
	<form>
    <h4> Run name </h4>
    <select class="form-control" ng-model="runName" ng-change="selectedValue(runName)" ng-options="opt as opt.run_name for opt in items ">
    </select>
    <br />
    <div class="submit-btn">
      <button class="btn btn-success" type="button"  ng-click="urgentExec(false)" id="exec"> Exec </button>
      <button class="btn btn-danger" type="button"  ng-click="urgentExec(true)" id="urgentExec"> Urgent Exec </button>
    </div>
	</form>
  <pre class="alert alert-info" id="error-banner">{{ banner }}</pre>
</div>
