<!DOCTYPE html>
<div class="shadowed rounded dynContent" style="">
  <h4>Update Valuation Start time by Run Name and Audit ID</h4>
  <br />
	<form>
    <h4> Run name </h4>
    <select class="form-control" ng-model="runName" ng-change="selectedValue(runName)" ng-options="opt as opt.run_nme for opt in items ">
    </select>

    <h4> Audit ID </h4>
    <select class="form-control" ng-model="auditId" ng-change="selectedValue2(auditId)" ng-options="opt as opt.audit_id for opt in units ">
    </select>

    <h4> Valuation Start </h4>
		<input type="text" class="form-control" ng-model="valStart"/>

    <div class="submit-btn">
      <button class="btn btn-success" type="button" id="exec"> Exec </button>
      <button class="btn btn-danger" type="button" ng-click="urgentExec()" id="urgentExec"> Urgent Exec </button>
    </div>
	</form>
  <pre class="alert alert-info">{{ banner }}</pre>
</div>
