<!DOCTYPE html>
<style>
  .dynContent > ul > li:nth-child(even) {
    background-color: #e1e1e1;
  }
  .dynContent > ul > li:nth-child(odd) {
    background-color: #f6f6f6;
  }
  .logs {
    padding: 5px;
    padding-left: 20px;
  }
  .red{
    color:red;
  }
</style>
<div class="shadowed rounded dynContent" style="background-color: white;">
  <div class="input-group date datepicker" data-provide="datepicker" ng-controller="logCtrl">
    <input type="text" class="form-control" data-date-format="MM/DD/YYYY" style="text-align: center;">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
  </div>
  <h3>Your activity history</h3>
  <ul style="list-style-type: none; padding-left: 0px;">
    <li class="logs" ng-repeat="line in $root.banner">
      <h5><span class="red">Execute Time:</span> {{line.time}}</h5>
      <h5><span class="red">User name:</span> {{line.username}}</h5>
      <h5><span class="red">User permission:</span> {{line.permission}}</h5>
      <h5><span class="red">Execute Macro:</span> <br/>{{line.macro}}</h5>
      <h5><span class="red">Execute Method:</span> {{line.urgent}}</h5>
      <h5><span class="red">Comment:</span> {{line.comment}}</h5>
    </li>
  </ul>
  <pre class="alert alert-info" id="error-banner">{{ error }}</pre>
</div>
