<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/mainStyling.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Digital Dash Login</title>
</head>
<body class="login">
	<div id="container" class="wrapper container">
		<h2><a href="../login">Digital Dash</a></h2>
		<div class="rounded shadowed" style="">
			<ul class="mainMenu rounded" style="padding:8px;">
				<span style="background:#002663; font-size:18px; color:#f9f9f9;">Welcome, Log in to start</span>
			</ul>
		</div>
		<div class="shadowed rounded dynContent" style="">
      <section class="login-box">
			<form class="login-form" method="post">
				<div class="login-form-top">
					<div class="email-wrap">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"> <input type="text" id="userName" class="login-form-input" /> </span>
					</div>
					<div class="psw-wrap">
						<span class="glyphicon glyphicon-lock" aria-hidden="true"> <input type="password" id="password" class="login-form-input" /></span>
					</div>
          <div class="env">
            <input type="radio" name="Environment" value="Dev" checked="checked" />
            <span>Devlopment</span>
          </div>

          <div class="env">
            <input type="radio" name="Environment" value="Dev"/>
            <span>Product</span>
          </div>

          <div class="env">
            <input type="radio" name="Environment" value="Dev"/>
            <span>Quality Assurance</span>
          </div>

          <div class="env">
            <input type="radio" name="Environment" value="Dev"/>
            <span>Test</span>
          </div>
					<a class="btn btn-blue" id="logIn" role="button">Log in</a>
          <div class="meta">
  					<a class="forgotten">Forgotten password?</a>
  				</div>
				</div>
			</form>
		</section>
		</div>
	</div>
</body>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/login/login.js"></script>
</html>
